/* write your override styles here */
.tag-1 {
    background: url(..img/tag-1.png)no-repeat
    z-index:7;
    display:block;
}

  #wall #tag-2{
    background:url(../images/tag-2.png)
    z-index: 6;
    display:block;
   }

   div#wall #tag-3.slick{
    background: url(../image/tag-4.png) no-repeat;
    z-index: 5;
    display:block;
   }

   #div#wall

   


   
